
     
        $normalText: var(--normalText);
        $primaryText:var(--primaryText);
        $secondaryText:var(--secondaryText);
        $thirdText:var(--thirdText);
        
        $normalColor:var(--normalColor);
    
        $headerTable:var(--headerTable);
        $lineParentTable:var(--lineParentTable);
        $lineChildrenTable:var(--lineChildrenTable);
        $border:var(--border);
    
        $primaryColor:var(--primaryColor);
        $secondaryColor:var(--secondaryColor);
        $fourthColor:var(--fourthColor);
        
        $primaryBorder:var(--primaryBorder);
        $secondaryBorder:var(--secondaryBorder);
        $componentColor:var(--componentColor);
        $iconMenu:var(--iconMenu);
        $primaryBorderMenu:var(--primaryBorderMenu);
        
        