.dark{

    --normalText: #ffffff;
    --primaryText: #FFFFFF;
    --secondaryText: #d3d3d3;
    --thirdText: #F49B00;
    
    --normalColor:#222E34  ;
    --sideBarColor:#222E34  ;

    --headerTable: #1b2428;
    --lineParentTable: #222E34;
    --lineChildrenTable: #2a3840;
    --border: #21202D;

    --primaryColor: #B11F24;
    --secondaryColor: #F49B00;
    --fourthColor: #1b2428;
    
    --primaryBorder: #1B262C  ;
    --secondaryBorder: #DADADA;
    --thirdBorder:#1b2428;
    --componentColor:#222E34;
    --iconMenu:#FFFFFF;
    --primaryBorderMenu: #1B262C  ;
    --itemMenuSelected: #bbc2cc;
    --ScrollSelected: #32434c;
}

.light{
    
    --normalText: #666666;
    --primaryText:  #000000;;
    --secondaryText: #1b2428;
    --thirdText: #F49B00;

    --normalColor: #FFFFFF;
    --sideBarColor:#222E34  ;
    --headerTable: #d3d3d3;
    --lineParentTable: #e0e0e0;
    --lineChildrenTable: #ededed;
    --border: #DADADA;

    --primaryColor: #B11F24;
    --secondaryColor: #F49B00;
    --fourthColor: #666666;
    

    --primaryBorder: #f8f8f8 ;
    --secondaryBorder: #DADADA;
    --thirdBorder:#DADADA;
    --componentColor:#FFFFFF;
    --iconMenu:#FFFFFF;
    --primaryBorderMenu: #1B262C  ;   
    --itemMenuSelected: #bbc2cc;
    --ScrollSelected: #d3d3d3;
}